{% extends 'home.html' %} {% block content %} {%load static%}
<section class="section courses" data-section="section4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    {% if user.user_profile.user_type == 'teacher' or user.is_superuser %}
                    <h2><a href="{% url 'all_mark'%}">Check Student Mark</a></h2>

                    {% else %}
                    <h2> Exam</h2>
                    <h2><a href="{% url 'view-result'%}">View Result</a></h2>
                </div>
            </div>
        </div>
    </div>
</section>

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <style media="screen">
        a:link {
            text-decoration: none;
        }
        
        h6 {
            text-align: center;
        }
        
        .row {
            margin: 100px;
        }
    </style>
</head>
<br><br>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h6 class="panel-title">Courses</h6>
        </div>
        <table class="table table-hover" id="dev-table">
            <thead>
                <tr>

                    <th>Exam Name</th>

                    <th>Take Exam</th>
                </tr>
            </thead>
            {% if user.is_authenticated %} {% for t in courses %}
            <tr>

                <td> {{t.subject_name}}</td>

                <td><a class="btn btn-danger btn-xs" href="{% url 'take-exam' t.id  %}"><span class="glyphicon glyphicon-circle-arrow-right">TakeExam</span></a></td>
            </tr>
            {% endfor %}{% else %}
            <h2>Please login to take Exam</h2>{% endif %}
        </table>
    </div>
</div>
{% endif %}
<br><br><br><br><br><br> {% endblock content %}