{% extends 'home.html' %} {% block content %} {%load static%}
<section class="section courses" data-section="section4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Review</h2>
                    <h2>
                        <a href="{% url 'review' %}">Review</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <style media="screen">
        a:link {
            text-decoration: none;
        }
        
        h6 {
            text-align: center;
        }
        
        .row {
            margin: 100px;
        }
    </style>
</head>
<br><br>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h6 class="panel-title">View Reviews</h6>
        </div>
        <table class="table table-hover" id="dev-table">
            <thead>
                <tr>


                    <th>Student Name</th>
                    <th>Review</th>
                    <th>Review Value</th>
                </tr>
            </thead>
            {% for t in review %}
            <tr>


                <td>{{t.student}}</td>

                <td> {{t.review}}</td>
                <td>{{t.value}}</td>


                {% endfor %}

            </tr>

        </table>
    </div>
</div>

<br><br><br><br><br><br> {% endblock content %}