{% extends 'home.html' %} {% block title %} {{lessons.name}} {% endblock %} {% load static %} {% load crispy_forms_tags %}{% block content %}

<section class="section courses" data-section="section4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Lecture Details</h2>
                    <h2>Created on {{lessons.created_at}} by {{lessons.created_by}} </h2>

                </div>
            </div>
            {%if user.is_authenticated%}


            <div class="row d-flex justify-content-center mb-3 mt-3">
                <div class="col-md-4 mb-4 mt-4">
                    <div class="card box-shadow-hover">
                        <div class="card-body">
                            <h5 class="card-title">Download Presentations</h5>
                            {% if lessons.ppt %}
                            <p class="card-text">Download presentations from the lecture</p>
                            <a href="{{lessons.ppt.url}}" download>
                                <button type="button" class="button-les"><span>Get Files</span></button>
                            </a>
                            {% else %}
                            <p class="card-text"> No PPT available</p>
                            {% endif %}

                        </div>
                    </div>
                </div>
                <!-- download notes -->
                <div class="col-md-4 mb-4 mt-4">
                    <div class="card box-shadow-hover">
                        <div class="card-body">
                            <h5 class="card-title">Download Notes</h5>
                            {% if lessons.notes %}
                            <p class="card-text">{{lessons.name}}<br> Note: {{lessons.notes}}</p>
                            <a href="{{lessons.notes.url}}" download>
                                <button type="button" class="button-les"><span>Get Files</span></button>
                            </a>
                            {% else %}
                            <p class="card-text">Notes not available</p>
                            {%endif%}

                        </div>

                    </div>
                </div>
                <div class="col-md-4 mb-4 mt-4">
                    <div class="card box-shadow-hover">
                        <div class="card-body">
                            <h5 class="card-title">Download Video</h5>
                            {% if lessons.video %}
                            <p class="card-text">Download Video from the lecture</p>
                            <a href="{{lessons.video.url}}" download>
                                <button type="button" class="button-les"><span>Get Files</span></button>
                            </a>
                            {% else %}
                            <p class="card-text">Video not available</p>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
            {% if lessons.video %}
            <div class="row d-flex justify-content-center mb-3">
                <div id="player-overlay">
                    <video controls>
              <source src="{{lessons.video.url}}"  type="video/mp4">
            </ >
                </div>
            </div>


            <div class="row d-flex justify-content-center mb-3 mt-3">
                {% if user.user_profile.user_type == 'teacher' or user.is_superuser %}
                <div class="col-md-6 mb-3 text-center">
                    <a href="{% url 'cariculam:lesson_update' course=lessons.course.slug subject=lessons.subject.slug slug=lessons.slug %}" class="btn btn-warning btn-lg mr-4 btn-block">Update Lesson</a>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'cariculam:lesson_delete' course=lessons.course.slug subject=lessons.subject.slug slug=lessons.slug %}" class="btn btn-danger btn-lg mr-4 btn-block"> Delete Lesson </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Comments section -->
    <section>
        <h2 class="mb-4 mt-5 font-weight-bold" style="color:#ff5722;">FEEDBACK BOX</h2>
        <h4 class="mt-2 font-weight-bold" style="color:#ff5722;">Post your comment or question below:</h4>
        <br><br>
        <div class="container row">
            <div class="col-md-6">
                <form method="post">
                    <div class="form-group">
                        {% csrf_token %} {{form|crispy}}
                        <input type="submit" name="form" value="Add Comment" class="btn btn-primary btn-sm">
                    </div>
                </form>

            </div>
        </div>
        <div class="row">
            {% for comment in lessons.comments.all %}
            <div class="col-md-8 mt-2 mb-2">
                <div class="media border p-3">
                    <img src="{% static 'images/user_avatar.png' %}" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                    <div class="media-body">
                        <h4 style="color: white;">{{comment.author}} <small><i>Posted on {{comment.date_added}}</i></small></h4>
                        <p style="color: white;">{{comment.body}}</p>
                        {% for reply in comment.replies.all %}
                        <div class="media p-3">
                            <img src="{% static 'images/user_avatar.png' %}" alt="Jane Doe" class="mr-3 mt-3 rounded-circle" style="width:45px;">
                            <div class="media-body">
                                <h5 style="color:white;">{{reply.author}} <small><i>Posted on {{reply.date_added}}</i></small></h5>
                                <p style="color: white;">{{reply.reply_body}}</p>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- form to post reply -->
                        <form method="post">
                            <input type="hidden" name="comment.id" value="{{comment.id}}">
                            <input type="hidden" name="comment.comm_name" value="{{comment.comm_name}}"> {% csrf_token %} {{form2.as_p}}
                            <input type="submit" name="form2" value="Add Reply" class="btn btn-warning btn-sm">
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


        {% endif %} {% else %}
        <h2 class="mb-0 mt-5 font-weight-bold" style="color:#ff5722;">Please login to get Lecture Note and Video</h2>
        {% endif %}
    </section>
</section>





{% endblock %}