{% extends 'home.html' %} {% block content %}

<section class="section courses" data-section="section4">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">

                    <h2>Choose Your Lessons</h2>
                </div>
            </div>
            {% for lesson in subjects.lessons.all %}
            <div class="item">
                <div class="down-content">
                    <h4>{{subject.name}}
                    </h4>
                    <p>Chapter-{{lesson.position}}: {{lesson.name}}</p>
                    <a href="{% url 'cariculam:lesson_detail' slug=lesson.slug subject=subjects.slug course=lesson.course.slug %}"><button class="button-les"> <span> Get Lessons</span></button></a>

                </div>

            </div>
            {% endfor %}

        </div>

    </div>

    <div class="row d-flex justify-content-center mb-3">
        {% if user.user_profile.user_type == 'teacher' or user.is_superuser %}
        <a href="{%url 'cariculam:lesson_create' course=subjects.course.slug slug=subjects.slug %}"><button type="button" class="btn btn-success btn-lg btn-bloc" > Add new Lesson </button> </a> {% endif %}
    </div>


</section>



{% endblock %}